* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  margin: 0 auto;
  font-size: calc(0.6em + 1vw);
}

a {
  color: #565454;
}

p {
  margin: 0.75rem auto;
}

/* Menú para pantallas pequeñas */
#nav {
  top: 0;
  background-color: #f5d6e9;
  color: #000000;
  z-index: 1;
  padding: 1rem;
  width: 100%;
}
#nav .logo {
  text-align: center;
}
#nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
#nav ul li a {
  color: #000000;
  padding: 0.75rem;
  margin: 0 0.5rem;
  font-size: 1.1rem;
  text-decoration: none;
}
#nav ul li a:hover {
  background-color: #918b8b;
  border-radius: 5px;
}
#nav ul li a.activo {
  text-decoration: underline;
}

/* Menú para pantallas grandes */
@media screen and (min-width: 768px) {
  #nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background: #ffffff;
    color: #000000;
  }

  #nav ul li a {
    color: #000000;
    padding: 0.5rem;
    margin: 0 0.25rem;
  }

  #nav ul li a:hover {
    background-color: #f5eca3;
    border-radius: 5px;
  }
}

/* Contenedor Header para pantallas pequeñas porque mobile-first */
.contenedor-header {
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr repeat(2, 30%);
  grid-gap: 1rem;
  grid-template-rows: 50vh auto 35vh 35vh;
  grid-template-areas:
    "img1 img1 img1"
    "titulo titulo titulo"
    "img2 img2 img2"
    "img3 img3 img3";
}
.contenedor-header .titulo {
  grid-area: titulo;
  margin: 0;
}
.contenedor-header .img1 {
  grid-area: img1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.contenedor-header .img2 {
  grid-area: img2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.contenedor-header .img3 {
  grid-area: img3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

/* Contenedor Header para pantallas grandes */
@media screen and (min-width: 768px) {
  .contenedor-header {
    grid-template-rows: repeat(2, 16rem);
    grid-template-areas:
      "img1 titulo titulo"
      "img1 img2 img3";
  }
}

/* Info grid para pantallas pequeñas*/
.contenedor-info {
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas:
    "titulo"
    "texto1"
    "texto2";
}
.contenedor-info .titulo {
  grid-area: titulo;
}
.contenedor-info .texto1 {
  grid-area: texto1;
}
.contenedor-info .texto2 {
  grid-area: texto2;
}

/* Info grid para pantallas grandes */
@media screen and (min-width: 768px) {
  .contenedor-info {
    grid-template-columns: repeat(2, 25%) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "titulo texto1 texto2";
  }
}

/* Artículos grid para pantallas pequeñas*/
.contenedor-articulos {
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas:
    "art-img1"
    "art-texto1"
    "art-img2"
    "art-texto2"
    "art-img3"
    "art-texto3";
}
.contenedor-articulos .art-img1 {
  grid-area: art-img1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.contenedor-articulos .art-img2 {
  grid-area: art-img2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.contenedor-articulos .art-img3 {
  grid-area: art-img3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.contenedor-articulos .art-texto1 {
  grid-area: art-texto1;
  padding: 1.2rem;
  border: 0.8rem solid transparent;
  margin: -6rem 2rem 0 2rem;
}
.contenedor-articulos .art-texto2 {
  grid-area: art-texto2;
  padding: 1.2rem;
  border: 0.8rem solid transparent;
  margin: -6rem 2rem 0 2rem;
}
.contenedor-articulos .art-texto3 {
  grid-area: art-texto3;
  padding: 1.2rem;
  border: 0.8rem solid transparent;
  margin: -6rem 2rem 0 2rem;
}

/* Artículos grid para pantallas grandes */
@media screen and (min-width: 768px) {
  .contenedor-articulos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "art-img1 art-img2 art-img3"
      "art-texto1 art-texto2 art-texto3";
  }
}

/* Encabezados con imagen de páginas interiores */
.header-titulo {
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 3rem;
  color: white;
}
.header-img {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
.img-atractivos {
  background-image: linear-gradient(
      135deg,
      rgba(247, 224, 212, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../media/cuba_8.jpg");
}
.img-historia {
  background-image: linear-gradient(
      135deg,
      rgba(247, 224, 212, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../media/cuba_10.jpg");
}
.img-faq {
  background-image: linear-gradient(
      135deg,
      rgba(247, 224, 212, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../media/cuba_9.jpg");
}
.img-reserva {
  background-image: linear-gradient(
      135deg,
      rgba(247, 224, 212, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../media/cuba_4.jpg");
}
.img-testimonios {
  background-image: linear-gradient(
      135deg,
      rgba(247, 224, 212, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../media/cuba_11.jpg");
}

/* FAQ */
.faq-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.faq-contenedor .faq-item {
  padding: 1.2rem;
  border: 0.8rem solid transparent;
  margin: 1rem 1rem;
}

/* FAQ contenedor para oantallas grandes */
@media screen and (min-width: 768px) {
  .faq-contenedor .faq-item {
    flex: 1 1 30%;
    margin: 2.5rem 1rem;
  }
}

/* Imagen + Texto Contenedor para pantallas pequeñas */
.imgtex-contenedor {
  display: flex;
  margin: 2.5rem;
}
.imgtex-contenedor .tex-item {
  padding: 1.2rem;
}
.imgtex-contenedor .img-item {
  width: 100%;
}
.imgtex-contenedor .zigzag1 {
  order: 1;
}
.imgtex-contenedor .zigzag2 {
  order: 2;
}
@media screen and (min-width: 768px) {
  .imgtex-contenedor .tex-item {
    margin: auto 0 auto -3rem;
  }
  .imgtex-contenedor .img-item {
    max-width: 50%;
  }
  .imgtex-contenedor .zigzag1 {
    max-width: 50%;
    order: 2;
  }
  .imgtex-contenedor .zigzag2 {
    margin: auto -3rem auto 0;
    order: 1;
  }
}

/* Formulario */
.formulario {
  background-color: #b0e2c1;
  padding: 3rem;
  max-width: 600px;
  margin: auto;
}
.formulario input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

/* Estilos Generales */
.linea-divisora-sup {
  border-bottom: 0.2rem solid black;
  width: 5rem;
  margin: 2rem 0;
}
.linea-divisora-inf {
  border-top: 0.2rem solid black;
  width: 5rem;
  margin: 2rem 0;
}
.linea-divisora-centrada {
  border-top: 0.2rem solid black;
  width: 5rem;
  margin: 2rem auto;
}
.bloque-horizontal-amarillo {
  border-top: 1.5rem solid #f5eca3;
  width: 8rem;
  float: left;
}

.cta {
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 5rem;
}
.verde {
  background-color: #b0e2c1;
}
.rosa {
  background-color: #f5d6e9;
}
.amarillo {
  background-color: #f5eca3;
}
.azul {
  background-color: #d7ecfa;
}

.boton {
  background-color: #918b8b;
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 12px 18px -6px rgba(0, 0, 0, 0.3);
  margin: 1rem auto;
}
.boton:hover {
  background-color: #565454;
}
.boton a {
  text-decoration: none;
  color: white;
}

/* Pie de página*/
footer {
  background-color: #f8fdfc;
  padding: 1.2rem;
  margin-top: 8rem;
}
/* Grid para pie de página, pantallas chicas primero */
.contenedor-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas:
    "referencias1"
    "referencias2"
    "autor"
    "copyright";
}
.contenedor-footer .referencias1 {
  grid-area: referencias1;
}
.contenedor-footer .referencias2 {
  grid-area: referencias2;
}
.contenedor-footer .autor {
  grid-area: autor;
  float: left;
}
.contenedor-footer .copyright {
  grid-area: copyright;
  text-align: center;
}
/* Footer grid para pantallas grandes */
@media screen and (min-width: 768px) {
  .contenedor-footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 90% 10%;
    grid-template-areas:
      "referencias1 referencias2 autor"
      "copyright copyright copyright";
  }
}
